<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>API Data in Table</title>
    <style>
      table {
        width: 100%;
        border-collapse: collapse;
      }
      table,
      th,
      td {
        border: 1px solid black;
      }
      th,
      td {
        padding: 8px;
        text-align: left;
      }
    </style>
  </head>
  <body>
    <h1>Users Data from API</h1>

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>age</th>
        </tr>
      </thead>
      <tbody>
        <% users.forEach(users => { %>
        <tr>
          <td><%= users.id %></td>
          <td><%= users.name %></td>
          <td><%= users.age %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </body>
</html>
